<!DOCTYPE html>
<html>

<head>
  
  <title>Home</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
      <link rel="stylesheet" type="text/css" href="/static/login.css" />

   <link
      href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Crimson+Text|Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo|Crimson+Text&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
      <link
      href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  
  <body>
    <header>
  <div class="container-fluid">
    <a href="home.html" title="Fresh Food Fix">
      <img src="/static/Logo2.JPG" class="logo1" alt="logo" width="100" height="60" />
    </a>
    <span class="websiteTitle">Fresh Food Fix</span>
  </div>


  <div class="container-fluid">
<nav class="navbar">
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/mealpackage">Meal Packages</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>

  </ul>
  </nav>
  </div>
  
</header>  

  <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{{body}}}
                </div>
            </div>
        </div>


<footer>
  <div class="footerMeals container-fluid" style="text-align: center;" >
    <p class="footerTitle">Be the first to try our new meals</p>
    
      <div class="row">

         <div class="col">
        <img src="/static/MenuItem2.jpg" height="200" width="200" />
        <span class="caption-item">Pan-Fried Tilapia <br /><br />$9.99</span>
         </div>

      <div class="col">
        <img src="/static/MenuItem1.jpg" height="200" width="200" />
        <span class="caption-item">Garlic Lemon Mahi Mahi <br /><br />$10.99</span>
      </div>

 <div class="col">
        <img src="/static/MenuItem3.jpg" height="200" width="200"/>
        <span class="caption-item">Egg Roll Bows <br /><br />$10.99</span>
</div>

  </div>
  </div>

  <br>
  <hr class="footerLine">
  <div class="container-fluid" style="text-align: center;">
    <div class="row">

      <div class="col-sm">
    <ul>
      <li class="Payments">
        <span class="subTitle">We Accept</span>
        <img src="/static/Payment1.png" height="50" width="75" />
        <img src="/static/Payment2.png" height="55" width="200" />
      </li>
    </ul>
</div>

  <div class="newsletter col-sm" style="float: right;">
    <span class="subTitle">Subscribe to receive special coupons, new deals, and chance to win a $25 gift card</span>
    <form action="https://formspree.io/xyydqgpw" method="POST">
      <label class="subTitle">
        Your Email:
        <input class="emailSub" type="email" name="email" size="40" />
      </label>
      <input class="subscribe" type="submit" value="Subscribe" />
    </form>
  </div>

  </div>
  </div>
</footer>
 </body>
</html>