<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css" />
    <h1>Fresh Food Fix</h1>
    <img src="./images/Logo.JPG" class="logo" alt="logo"/>
    <hr />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Crimson+Text|Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo|Crimson+Text&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>

    <div class="container">
    </div>



      <footer>
        <p class="center">&copy; 2020 Student Elliot Kyei</p>
      </footer>

  </body>
</html>
