<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <div>
    <a href="home.html" title="Fresh Food Fix">
      <img src="/static/Logo2.JPG" class="logo1" alt="logo" width="100" height="60" style="float: left;" />
    </a>
    <span class="websiteTitle">Fresh Food Fix</span>
  </div>

  <ul class="navigation">
    <li><a href="home.html">Home</a></li>
    <li><a href="mealpackage.html">Meal Package</a></li>
    <li><a href="signup.html">Sign Up</a></li>
    <li><a href="login.html">Login</a></li>
  </ul>

  <hr />

  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Crimson+Text|Montserrat&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Cairo|Crimson+Text&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>

  <div class="hero">
    <img src="/static/Meal Kit2.jpg" class="heroPic" alt="logo" />
    <div class="imgText">Fresh Meals Right To Your Door</div>
  </div>

  </div>

  <section class="How-It-Works">

    <div class="hiwTitle">
      <h2>How it works</h2>

    </div>
    <div class="background">
      <div class="hiw-container">
        <div class="hiw-workbox1">
          <div class="hiw-ChooseLabel">
            <h3 style="padding-left: 10px;">Choose</h3>
          </div>

          <div class="hiw-ChoosePic">
            <img src="/static/HiwChoose.jpg" height="200" width="200" />
            <span class="caption">Choose from a wide selection of meals</span>
            <img src="/static/Arrow.jpg" class="arrow1" height="100" width="100" />
          </div>

        </div>

        <div class="hiw-workbox2">
          <div class="hiw-PrepareLabel">
            <h3 style="padding-left: 10px;">Prepare</h3>
          </div>

          <div class="hiw-PreparePic">
            <img src="/static/HiwPrepare.jpg" height="200" width="200" />
            <span class="caption">All our meals are prepared from scratch specially for you</span>
            <img src="/static/Arrow.jpg" class="arrow2" height="100" width="100" />
          </div>

        </div>

        <div class="hiw-workbox3">
          <div class="hiw-DeliverLabel">
            <h3 style="padding-left: 10px;">Deliver</h3>
          </div>

          <div class="hiw-DeliveryPic">
            <img src="/static/HiwDelivery.jpg" height="200" width="200" />
            <span class="caption">Meals are delivered right to your door</span>
            <img src="/static/Arrow.jpg" class="arrow3" height="100" width="100" />
          </div>

        </div>

        <div class="hiw-workbox4">
          <div class="hiw-EnjoyLabel">
            <h3 style="padding-left: 10px;">Enjoy</h3>
          </div>

          <div class="hiw-EnjoyPic">
            <img src="/static/HiwEnjoy.jpg" height="200" width="200" />
            <span class="caption">Enjoy your meals</span>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="Top-Meal-Orders">

    <div class="Top-Meal-Title">
      <h2>Our Top Meal Orders</h2>
    </div>

    <div class="top-packages-container">

      <div class="meal-1">
        <div class="meal-1-Label">
          <h3 style="font-size: 25px;">Chicken Breast with Tomatoes</h3>
        </div>

        <div class="meal-1-Pic">
          <img src="/static/Meal1.jpg" height="200" width="300" />
          <span class="caption-meals">$10.99</span>

        </div>

      </div>

      <div class="meal-2">
        <div class="meal-2-Label">
          <h3 style="font-size: 25px;">Pea and Spinach Carbonara</h3>
        </div>

        <div class="meal-2-Pic">
          <img src="/static/Meal2.jpg" height="200" width="300" />
          <span class="caption-meals">$10.99</span>
        </div>
      </div>

      <div class="meal-3">
        <div class="meal-3-Label">
          <h3 style="font-size: 25px;">Potato Salad with Mackeral</h3>
        </div>

        <div class="meal-3-Pic">
          <img src="/static/Meal3.jpg" height="200" width="300" />
          <span class="caption-meals">$11.99</span>
        </div>

      </div>

      <div class="meal-4">
        <div class="meal-4-Label">
          <h3 style="font-size: 25px;">Beef and Vegetable Stir Fry</h3>
        </div>

        <div class="meal-4-Pic">
          <img src="/static/Meal4.jpg" height="200" width="300" />
          <span class="caption-meals">$12.99</span>
        </div>

      </div>

    </div>

  </section><br>
</body>

<footer>
  <div class="NewMeals" style="background-color: rgb(255, 108, 115);">
    <p class="footerTitle">Be the first to try our new meals</p>
    <ul>
      <li class="menuItems">
        <img src="/static/MenuItem2.jpg" height="200" width="200" />
        <span class="caption-item">Pan-Fried Tilapia <br /><br />$9.99</span>
      </li>
      <li class="menuItems">
        <img src="/static/MenuItem1.jpg" height="200" width="200" />
        <span class="caption-item">Garlic Lemon Mahi Mahi <br /><br />$10.99</span>
      </li>
      <li class="menuItems">
        <img src="/static/MenuItem3.jpg" height="200" width="200" />
        <span class="caption-item">Egg Roll Bows <br /><br />$10.99</span>
      </li>
    </ul>
  </div>

  <br>
  <hr class="footerLine">
  <div class="footerPayment" style="margin-left: -100px;">
    <ul>
      <li class="Payments">
        <span class="subTitle">We Accept</span>
        <img src="/static/Payment1.png" height="50" width="75" />
        <img src="/static/Payment2.png" height="55" width="200" />
      </li>
    </ul>
  </div>

  <div class="newsletter" style="margin-top: -100px;">
    <span class="subTitle">Subscribe to receive special coupons, new deals, and chance to win a $25 gift card</span>
    <form action="https://formspree.io/xyydqgpw" method="POST">
      <label class="subTitle">
        Your Email:
        <input class="emailSub" type="email" name="email" size="40" />
      </label>
      <input class="subscribe" type="submit" value="Subscribe" />
    </form>

  </div>

</footer>

</html>