<head>
  
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
      <link rel="stylesheet" type="text/css" href="/static/login.css" />

   <link
      href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Crimson+Text|Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo|Crimson+Text&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
      <link
      href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

<div class="LoginSuccess">
    <h4 id="login">Login Success!</h4>
     <h4 style="text-decoration: underline;" id="login"><a href='/'>Go back to Home page</a></h4>
</div>

    <div class="hero">
      <img src="/static/SignupSuccess.jpg" class="small-heroPic" alt="logo" />
    </div>