
    <div class="loginContainer">
      <form action="/login-user" method="POST">
        <h6>Login</h6>
        <div class="UsernameBox">
          <input
            type="text"
            name = "loginEmail"
            value="{{data.formData.loginEmail}}" 
            class="username boxInput"
            placeholder="Email"
          />
                        {{#if data.errors.loginEmail}}
                        <div class="errorMsg"> 
                          {{data.errors.loginEmail}}
                        </div>
                      {{/if}}
        </div>
        <div class="PasswordBox" style="margin-top: 35px">
          <input
            type="password"
            name = "loginPass"
            value="{{data.formData.loginPass}}" 
            class="pass boxInput"
            placeholder="Password"
          />

                      {{#if data.errors.loginPass}}
                        <div class="errorMsg"> 
                          {{data.errors.loginPass}}
                        </div>
                      {{/if}}

        </div>
        <div class="LoginBox">
          <button type="submit" class="login-btn">Sign In</button>
        </div>
        <div class="createAccount" style="margin-top: 20px;">
          <a href="signup.html">Create an account</a>
        </div>
      </form>
    </div>
    <hr />
  </body>

    <div class="hero">
      <img src="/static/LoginPic.jpg" class="small-heroPic" alt="logo" />
    </div>