
    <div class="loginContainer">
      <form action="" method="POST">
        <h6>Login</h6>
        <div class="UsernameBox">
          <input
            type="text"
            class="username boxInput"
            placeholder="Username"
            required="required"
          />
        </div>
        <div class="PasswordBox" style="margin-top: 0px">
          <input
            type="password"
            class="pass boxInput"
            placeholder="Password"
            required="required"
          />
        </div>
        <div class="LoginBox">
          <button type="submit" class="login-btn">Sign In</button>
        </div>
        <div class="createAccount">
          <a href="signup.html">Create an account</a>
        </div>
      </form>
    </div>
    <hr />
  </body>

    <div class="hero">
      <img src="/static/LoginPic.jpg" class="small-heroPic" alt="logo" />
    </div>