<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <div>
    <a href="home.html" title="Fresh Food Fix">
      <img src="/static/Logo2.JPG" class="logo1" alt="logo" width="100" height="60" style="float: left;" />
    </a>
    <span class="websiteTitle">Fresh Food Fix</span>
  </div>

  <ul class="navigation">
    <li><a href="home.html">Home</a></li>
    <li><a href="mealpackage.html">Meal Package</a></li>
    <li><a href="signup.html">Sign Up</a></li>
    <li><a href="login.html">Login</a></li>

  </ul>

  <hr />

  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Crimson+Text|Montserrat&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Cairo|Crimson+Text&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>

  <div class="hero">
    <img src="/static/Meal Kit.jpg" class="heroPic" alt="logo" />
    <div class="imgText">Our Top Meal Packages</div>
  </div>

  <section class="package-section">


    <div class="top-packages">
      <h4>Each package contains different meals plans to meet your specific nutrition goals.</h2>
    </div>
    <hr>

    <div class="meal-packages-container">
      <div class="package-1">
        <div class="package-1-Label">
          <h5>Muscle Gain</h5>
        </div>

        <div class="package-1-Pic">
          <img src="/static/MealPackage1.jpg" height="250" width="250" />
          <span class="caption-package">4 meals of lean cuts of meats, fish, eggs and poultry, which are very high
            in protein and calories, low in carbs <br /><br />$25.99
          </span>
        </div>

      </div>

      <div class="package-2">
        <div class="package-2-Label">
          <h5>Weight Loss</h5>
        </div>

        <div class="package-2-Pic">
          <img src="/static/MealPackage2.jpg" height="250" width="250" />
          <span class="caption-package">7 small meals of very lean and nutritious cuts of meat, whole wheat grains,
            fruits and vegetables.
            Each meal is high in protein and low in carbs & calories <br /><br />$27.99
          </span>
        </div>

      </div>

      <div class="package-3">
        <div class="package-3-Label">
          <h5 style="padding-left: 85px;">Keto</h5>
        </div>

        <div class="package-3-Pic">
          <img src="/static/MealPackage3.jpg" height="250" width="250" />
          <span class="caption-package">4 meals featuring nuts, lean meats and fish, fruits and vegetables. Each meal is
            high in
            healthy fats with adequate protein, and minimal in carbs & calories <br /><br />$25.99
          </span>
        </div>

      </div>

      <div class="package-4">
        <div class="package-4-Label">
          <h5 style="padding-left: 75px;">Paleo</h5>
        </div>

        <div class="package-4-Pic">
          <img src="/static/MealPackage4.jpg" height="250" width="250" />
          <span class="caption-package">4 meals of lean meats and fish, whole wheat grains, fruits and vegetables. Each
            meal is moderate in
            protein, carbs, and healthy fats. 100% All Natural Produce <br /><br />$25.99
          </span>
        </div>

      </div>

    </div>
  </section>
</body>

<footer>
  <div class="NewMeals" style="background-color: rgb(255, 108, 115);">
    <p class="footerTitle">Be the first to try our new meals</p>
    <ul>
      <li class="menuItems">
        <img src="/static/MenuItem2.jpg" height="200" width="200" />
        <span class="caption-item">Pan-Fried Tilapia <br /><br />$9.99</span>

      </li>
      <li class="menuItems">
        <img src="/static/MenuItem1.jpg" height="200" width="200" />
        <span class="caption-item">Garlic Lemon Mahi Mahi <br /><br />$10.99</span>
      </li>
      <li class="menuItems">
        <img src="/static/MenuItem3.jpg" height="200" width="200" />
        <span class="caption-item">Egg Roll Bows <br /><br />$10.99</span>
      </li>
    </ul>
  </div>


  <br>
  <hr class="footerLine">
  <div class="footerPayment" style="margin-left: -100px;">
    <ul>
      <li class="Payments">
        <span class="subTitle">We Accept</span>
        <img src="/static/Payment1.png" height="50" width="75" />
        <img src="/static/Payment2.png" height="55" width="200" />
      </li>
    </ul>
  </div>

  <div class="newsletter" style="margin-top: -100px;">
    <span class="subTitle">Subscribe to receive special coupons, new deals, and chance to win a $25 gift card</span>
    <form action="https://formspree.io/xyydqgpw" method="POST">
      <label class="subTitle">
        Your Email:
        <input class="emailSub" type="email" name="email" size="40" />
      </label>
      <input class="subscribe" type="submit" value="Subscribe" />
    </form>

  </div>

</footer>

</html>