<div class="hero">
    <img src="/static/Meal Kit.jpg" class="heroPic" alt="logo" />
    <div class="imgText">Our Top Meal Packages</div>
  </div>

  <section class="package-section">


    <div class="top-packages">
      <h4>Each package contains different meals plans to meet your specific nutrition goals.</h2>
    </div>
    <hr>

    <div class="meal-packages-container">
      <div class="package-1">
        <div class="package-1-Label">
          <h5>Muscle Gain</h5>
        </div>

        <div class="package-1-Pic">
          <img src="/static/MealPackage1.jpg" height="250" width="250" />
          <span class="caption-package">4 meals of lean cuts of meats, fish, eggs and poultry, which are very high
            in protein and calories, low in carbs <br /><br />$25.99
          </span>
        </div>

      </div>

      <div class="package-2">
        <div class="package-2-Label">
          <h5>Weight Loss</h5>
        </div>

        <div class="package-2-Pic">
          <img src="/static/MealPackage2.jpg" height="250" width="250" />
          <span class="caption-package">7 small meals of very lean and nutritious cuts of meat, whole wheat grains,
            fruits and vegetables.
            Each meal is high in protein and low in carbs & calories <br /><br />$27.99
          </span>
        </div>

      </div>

      <div class="package-3">
        <div class="package-3-Label">
          <h5 style="padding-left: 85px;">Keto</h5>
        </div>

        <div class="package-3-Pic">
          <img src="/static/MealPackage3.jpg" height="250" width="250" />
          <span class="caption-package">4 meals featuring nuts, lean meats and fish, fruits and vegetables. Each meal is
            high in
            healthy fats with adequate protein, and minimal in carbs & calories <br /><br />$25.99
          </span>
        </div>

      </div>

      <div class="package-4">
        <div class="package-4-Label">
          <h5 style="padding-left: 75px;">Paleo</h5>
        </div>

        <div class="package-4-Pic">
          <img src="/static/MealPackage4.jpg" height="250" width="250" />
          <span class="caption-package">4 meals of lean meats and fish, whole wheat grains, fruits and vegetables. Each
            meal is moderate in
            protein, carbs, and healthy fats. 100% All Natural Produce <br /><br />$25.99
          </span>
        </div>

      </div>

    </div>
  </section>