html{
  background-color: rgb(255, 255, 255);
}
.websiteTitle{
  float: left;
  margin-left: -170px;
  font-size: 1em;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  color:gray;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  display: block;
  color: rgb(179, 253, 161);
}

  h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 1000;
    word-spacing: 5px;  
    font-size: 3.5em;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(255, 190, 106);
    font-weight: 900;
    word-spacing: 5px;  
    font-size: 2em;
padding-left: 55px;
text-align: center;
  }

  
  h4 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:gray;
    word-spacing: 5px;  
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
  }

  h5 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(53, 21, 29);
    font-weight: 900;
    word-spacing: 5px;  
    font-size: 2em;
padding-left: 30px;
margin-top: -75px;
text-align: center;
  }

  h6{
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    text-decoration: none;
    color:rgb(0, 0, 0); 
    font-size: 50px;
   margin-top: 50px;
  }
  
  hr {

    height:0.3px;
    border-width:0;
    color:gray;
    background-color:gray
  }

  .logo1{
    
    padding-left: 150px;
    padding-right: 200px;
  }

  ul.navigation {
    text-align: center;
    list-style-type: none;

    overflow: hidden;
  }
  
  ul{
    text-align: center;
    list-style-type: none;

    overflow: hidden;
  }

  .hero{
      position: relative;
      text-align: center;
      color: white;
    
  }
  .heroPic{
   margin-top: -10px;
   margin-left: -8px;
    height: 650px;
    width: 1452px;

}

.small-heroPic{
  margin-top: 0px;
  margin-left: -8px;
   height: 350px;
   width: 1452px;

}

.imgText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-weight: 1000;
  word-spacing: 5px;  
  font-size: 5em;
  font-weight: bolder;
  transform: translate(-50%, -50%);
}
  
  li {
    float: left;
    padding: 15px;
    padding-right: 10px;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 50px;

  }

  p {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    font-size: 1.3em;
  }
  
  a{
    font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color:rgb(78, 78, 78);
  font-weight: 900;
  word-spacing: 5px;
  
}

.background{
  background-color: rgb(255, 253, 246);
  border:1px solid;
  border-color: rgb(53, 21, 29);
}

.hiw-container, .top-packages-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-right: 200px;
  padding-left: 200px;
}

.top-packages-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  margin-left: -75px;
}

.meal-packages-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0px;
  margin: auto;
  margin-right: 50px;
  padding-left: 100px;
}

.hiw-ChoosePic, .hiw-PreparePic, .hiw-DeliveryPic, .hiw-EnjoyPic, .meal-1-Pic, .meal-2-Pic, .meal-3-Pic, 
.meal-4-Pic, .package-1-Pic, .package-2-Pic, .package-3-Pic, .package-4-Pic{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 250px;
  padding-top: 20px;
}

.caption, .caption-meals{
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  color:rgb(53, 21, 29);
  font-size: 1em;
}

.caption-package {
  padding-top: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  display: block;
  font-size: 1em;
  color:rgb(53, 21, 29);
} 

.caption-item {
  text-align: center;
  padding-top: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  display: block;
  font-size: 1em;
  color:rgb(255, 255, 255);
}

.arrow1, .arrow2, .arrow3{
  padding-left: 200px;
}

.menuItems, .Payments {
display: inline-block;
  font-family: 'Montserrat', sans-serif;
      font-size: 16px;
padding-left: 150px;
    }

.footerTitle{
  text-align: center;
  font-size: 2em;
  font-family: Verdana, Tahoma, sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
  color: rgb(255, 240, 248);
}

.subTitle{
  float: left;
  font-size: 1em;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  color:gray;
}

.center{
  font-size: 1em;
  font-family: sans-serif;
}

.footerLine{
  
  height:0.5px;
  border-width:0;
  color:gray;
  background-color:gray
}


.newsletter{
  float: right;
}

.subscribe{
  border-radius: 25px;
  background-color: rgb(255, 108, 115);
  padding: 10px;
  font-family: Verdana, Tahoma, sans-serif;
  color: white;
  font-size: 15px;
}